body{
background-color: #D2DAE2;
}

html,body{height:100%;}

#main-view{
  height:100%;
  width: 100%;
  background-color: #00A9E4;
}

.headingText{
  color:#fff;
  font-size: 50px;

}

.headingSubText{
  color:#fff;
  opacity: 0;
  transition:opacity 2s  ease-in-out;
   -webkit-transition:opacity 2s  ease-in-out;
  -moz-transition:  opacity 2s  ease-in-out;
  -o-transition:opacity 2s  ease-in-out;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-content textarea { resize: none; 
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s ;
  font-size: 1em;
  font-weight: bold;
}

.form-control{
  border-width:2px;
}
body{
font-family: 'Didact Gothic', sans-serif;
font-size: 28px;
}


 textarea:focus,textarea.focus 
 {
  border: solid 5px #969696 !important;
}

.pad-medium {
    padding: 12px 18px;
}

.btn{
  border-radius: 0px;
}

#result{
height:605px;
border: solid 5px #c9c9c9;
  transition: border 0.3s ;
  font-size: 0.9em;
word-wrap:break-word;
overflow-y:auto;   
}

#substitutorBtn{
  font-size: 0.8em;
}

.navbar{
  border:0;
}
.navbar-header{
  height:70px;
}
.logo-link{
  height: inherit;
}
.logo-link img{
  height:inherit;
  width:auto;
  transition: all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition:   all 0.3s;
  -o-transition:     all 0.3s;
  
}
.navbar-nav>li>a{
  line-height: 40px;
  transition: line-height 0.15s ease-in-out;
  -webkit-transition: line-height 0.15s ease-in-out;
  -moz-transition:   line-height 0.15s ease-in-out;
  -o-transition:     line-height 0.15s ease-in-out;
 
}
.navbar-default{
  background-color: transparent;
}
.navigation{
  background-color:#00A9E4;
}

#rawString{
  height:280px;
}

#jsonToSubstitute{
  height: 280px;
}
#home{
  padding-top:80px;
}
.slide{
   -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.clear{
  clear: both;
}

.fork-icon{
  position: fixed;
    top: -42px;
    right: 40px;
    border: 0;
    transform: rotate(-47deg);
    z-index: 9999;
}
.navbar-default .navbar-nav>li>a{
  color:#fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #1A365A;
    opacity: 0.8;
}

/*Css for shrinking header on scroll*/

.header 
{
  font-size:20px;
    font-weight:normal;
   transition:opacity 2s  ease-in-out;
   -webkit-transition:opacity 2s  ease-in-out;
  -moz-transition:  opacity 2s  ease-in-out;
  -o-transition:opacity 2s  ease-in-out;
    opacity: 0.4;
}

.shrink 
{
 l    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  height:30px;
}

.shrink .logo-link{
height:50px;


}

.shrink .navbar-nav>li>a{
line-height : 20px;
/*transition: all 0.3s;*/
}

/*Css for parallax*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*Css for Typed.js*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
    color:#fff;
    font-weight: bold;
    font-size: 50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




@media (min-width: 768px)
{
  .nav  {
    padding-right: 40px;
}
}