body{
background-color: #fff;
}

html,body{height:100%;}

#main-view{
  height:100%;
  width: 100%;
  background-color: #00A9E4;
}

.headingText{
  color:#fff;
  font-size: 50px;

}

.headingSubText{
  color:#fff;
  opacity: 0;
  transition:opacity 2s  ease-in-out;
   -webkit-transition:opacity 2s  ease-in-out;
  -moz-transition:  opacity 2s  ease-in-out;
  -o-transition:opacity 2s  ease-in-out;
}

.text-center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-content textarea { resize: none; 
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s ;
  font-size: 0.8em;
  font-weight: bold;
}

.form-control{
  border-width:2px;
}
body{
font-family: 'Didact Gothic', sans-serif;
font-size: 28px;
}


 textarea:focus,textarea.focus 
 {
  border: solid 5px #969696 !important;
}

.pad-medium {
    padding: 12px 18px;
}

.btn{
  border-radius: 0px;
}

#result{
height:485px;
border: solid 5px #c9c9c9;
  transition: border 0.3s ;
  font-size: 0.9em;
word-wrap:break-word;
overflow-y:auto;   
}

#substitutorBtn{
  font-size: 0.8em;
}

.navbar{
  border:0;
}
.navbar-header{
  height:70px;
}
.logo-link{
  height: inherit;
}
.logo-link img{
  height:inherit;
  width:auto;
  transition: all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition:   all 0.3s;
  -o-transition:     all 0.3s;
  
}
.navbar-nav>li>a{
  line-height: 40px;
  transition: line-height 0.15s ease-in-out;
  -webkit-transition: line-height 0.15s ease-in-out;
  -moz-transition:   line-height 0.15s ease-in-out;
  -o-transition:     line-height 0.15s ease-in-out;
 
}
.navbar-default{
  background-color: transparent;
}
.navigation{
  background-color:#00A9E4;
}

#rawString{
  height:220px;
}

#jsonToSubstitute{
  height: 220px;
}
#home{
  padding-top:80px;
}
.slide{
   -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}

.clear{
  clear: both;
}

.fork-icon{
  position: fixed;
    top: -42px;
    right: 40px;
    border: 0;
    transform: rotate(-47deg);
    z-index: 9999;
}
.navbar-default .navbar-nav>li>a{
  color:#fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background-color: #1A365A;
    opacity: 0.8;
}

/*Css for shrinking header on scroll*/

.header 
{
  font-size:20px;
    font-weight:normal;
   transition:opacity 2s  ease-in-out;
   -webkit-transition:opacity 2s  ease-in-out;
  -moz-transition:  opacity 2s  ease-in-out;
  -o-transition:opacity 2s  ease-in-out;
    opacity: 0.4;
}

.shrink 
{
 l    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  height:30px;
}

.shrink .logo-link{
height:50px;


}

.shrink .navbar-nav>li>a{
line-height : 20px;
/*transition: all 0.3s;*/
}

/*Css for parallax*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}

/*Css for Typed.js*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
    color:#fff;
    font-weight: bold;
    font-size: 50px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




@media (min-width: 768px)
{
  .nav  {
    padding-right: 40px;
}

#about,#docs{
padding-top:100px;
}

#demo{
  padding-top: 80px;
}

}




/* Footer */

/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.skype span {
  background-color: #009EE5;
}

/* Icons */
.icon-button i {
text-decoration: none;
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-skype {
  color: #009EE5;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-skype {
  color: white;
}
footer {
  font-size: 20px;
  height:calc(100% - 38px);
  width: 100%;
  background-color: #ccc;
}
footer > div {
  padding: 20px;
  text-align: center;
}
.getInTouch{
  padding:20px 0; 
}
.email{
  padding: 0 0 10px 0;
}
#copyright{
  position:relative;
  bottom:0;
 font-size: 20px;
 text-align: center;

}
.font24{
  font-size:24px;
}

.font20{
  font-size:20px;
}
.pb20{
  padding-bottom:20px;
}
.mt10{
  margin-top: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.btn-reverse{
      background: none;
    border: 2px solid #00A9E4;
    color: #00A9E4;
    padding: 8px 30px;
        -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-weight: bold;
        border-radius: 4px;
}
.btn-reverse:hover{
    background: #00A9E4;
    border: 2px solid #00A9E4;
l3    color: #fff;
}

#docs p{
  font-size:16px;
}

#demo,#about{
  height: 100%;
}

.info{
  font-size: 16px;
}
/*Documentation CSS*/
.docBlock{
}
.docBlock pre{
     padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    word-break: normal;
    white-space: pre;
    background-color: transparent;
    border: 0;

}
.codeOutputError{
  color:#2f6f9f;
}
